<section class="two_blocks">
    <div class="container">
        <h2 gh-id="${ghId}.title"> TITLE </h2>
        <p class="subtitle" gh-id="${ghId}.subtitle">
            SUBTITLE
        </p>
        <div class="two_blocks_wrapper">
            ${
                blocks.reduce((acc, item, index) => {
                return acc + `
                    <div class="block">
                        <div class="block_left">
                            <img src="${item.image.src}" alt="${item.image.alt}" title="${item.image.title}">
                        </div>
                        <div class="item_right">
                            <h3 gh-id="${ghId}.blocks.${index}.title"> TITLE </h3>
                            <p gh-id="${ghId}.blocks.${index}.text"> TEXT </p>
                        </div>
                    </div>
                `
                }, '')
            }
        </div>
    </div>
</section>