<section class="card-section">
    <div class="container">
        ${isService ? `
            <h2 gh-id="${ghId}.title"> TITLE </h2>
            <p class="subtitle" gh-id="${ghId}.subtitle"> SUBTITLE </p>
        ` : ''}
        <div class="cards_list">
            ${
                cards.reduce((acc, item, index) => {
                return acc + `
                    <div class="card">
                        <a href="${item.link}">
                            <div class="card_top">
                                <div class="image">
                                    <image-component lazyload width="404" height="228" src="${item.image.src}" alt="${item.image.alt}" title="${item.image.title}"></image-component>
                                </div>
                                <h3 class="card_title" gh-id="${ghId}.cards.${index}.title">
                                    CARD TITLE
                                </h3>
                                <p class="subtitle" gh-id="${ghId}.cards.${index}.subtitle">
                                    CARD SUBTITLE
                                </p>
                            </div>
                            <div class="card_bottom">
                                <span>
                                    <span>View</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="17" viewBox="0 0 22 17" fill="none">
                                        <path d="M12.5 1L20 8.5M20 8.5L12.5 16M20 8.5L0 8.5" stroke="#141616" stroke-width="2"/>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                    `
                }, '')
            }
        </div>
    </div>
</section>