<section class="horizontal_tabs">
    <div class="container">
        <h2 gh-id="${ghId}.title"> TITLE </h2>
        <p class="subtitle" gh-id="${ghId}.subtitle">
            SUBTITLE
        </p>
        <div class="horizontal_tabs_wrapper">
            ${
                items.reduce((acc, item, index) => {
                return acc + `
                    <div class="horizontal_tabs_item ${index == 1 ? 'active' : ''}" onclick="openItem()">
                        <div class="item_left">
                            <div class="absolute_wrapper">
                                <h3 gh-id="${ghId}.items.${index}.title"> H3 TITLE </h3>
                            </div>
                            <svg class="arrow_mobile" xmlns="http://www.w3.org/2000/svg" width="14" height="9" viewBox="0 0 14 9" fill="none"><path d="M12.7773 1L6.88928 7L1.00122 0.999999" stroke="#00BFD6" stroke-width="2"/></svg>
                        </div>
                        <div class="item_right">
                            <p gh-id="${ghId}.items.${index}.text"> TEXT </p>
                        </div>
                    </div>
                `
                }, '')
            }
        </div>
    </div>
</section>