counter-component {
    background-color: #141616;
    .service_counter {
        .top_part {
            margin-bottom: 60px;
        }
        .h2 {
            color: #fff;
            text-align: center;
        }
        .subtitle {
            color: #dbe2e7;
            max-width: 850px;
            margin: 0 auto;
            text-align: center;
        }
        .counters {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .counter_item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                max-width: 230px;
                text-align: center;
                margin: var(--custom-margin);
                margin-bottom: 20px;
                .counter {
                    &_top {
                        display: flex;
                        font-weight: 600;
                        font-size: 64px;
                        color: #fff;
                        margin-bottom: 26px;
                    }
                    &_bottom {
                        font-size: 16px;
                        line-height: 20px;
                        color: #dbe2e7;
                    }
                }
            }
        }
        .bottom_text {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .h2 {
                margin-bottom: 30px;
            }
            .subtitle {
                margin-bottom: 60px;
                color: #dbe2e7;
                text-align: center;
            }
        }
    }
}
counter-component.light_theme {
    background-color: #fff;
    .bottom_text {
        .h2 {
            color: #141616;
        }
        .subtitle {
            color: #4d555b;
        }
    }
    .counters {
        .counter_item {
            .counter {
                &_top {
                    color: #141616;
                }
                &_bottom {
                    color: #4d555b;
                }
            }
        }
    }
}
@media screen and (max-width: 1025px) {
    counter-component .service_counter {
        .h2 {
            margin-bottom: 30px;
        }
        .counters .counter_item .counter_top {
            font-size: 48px;
            line-height: 48px;
            margin-bottom: 8px;
        }
    }
    counter-component {
        .service_counter {
            .counters {
                .counter_item {
                    margin: 0 20px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
@media screen and (max-width: 770px) and (min-width: 600px) {
    counter-component {
        .service_counter .counters .counter_item {
            width: 32%;
            margin: 0;
            margin-right: 1%;
            margin-bottom: 20px;
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    counter-component {
        .service_counter .counters .counter_item {
            width: 48%;
            margin: 0;
            margin-right: 1%;
            margin-bottom: 20px;
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    counter-component .service_counter {
        .h2 {
            margin-bottom: 23px;
        }
        .counters {
            flex-wrap: wrap;
            .counter_item {
                max-width: initial;
                &:first-child,
                &:nth-child(2) {
                    margin-bottom: 15px;
                }
                .counter_top {
                    font-size: 56px;
                }
            }
        }
        .bottom_text {
            margin-top: 10px;
        }
    }
}
@media screen and (max-width: 400px) {
    counter-component .service_counter {
        .counters {
            .counter_item {
                .counter_top {
                    font-size: 32px;
                    line-height: 35px;
                }
                .counter_bottom {
                    font-size: 14px;
                    line-height: 18px;
                    max-width: 140px;
                }
            }
        }
    }
}
