<section class="authors-list-section">
    <div class="container">
        <breadcrumbs-component data-items='[{"title": "Blog", "slug": "/blog/"}, {"title": "Authors"}]'></breadcrumbs-component>
        <h1>Authors</h1>
        <div class="authors-list">
            ${
                authors.reduce((acc, author, index) => {
                return acc + `
                    <div class="author">
                        <a href="${author.slug}">
                            <div class="post_top">
                                <div class="image">
                                    <image-component data-url="${author.thumbnail}" data-src="${author.thumbnail_src}" alt="${author.thumbnail_alt}" title="${author.thumbnail_title}"></image-component>
                                </div>
                                <h3 class="post_title">
                                    ${author.h1}
                                </h3>
                                <div class="description">            
                                    ${author.description}
                                </div>
                                <div class="intro">            
                                    ${author.intro}
                                </div>
                            </div> 
                            <div class="post_bottom">
                                <span class="link">
                                    <span>Articles</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="17" viewBox="0 0 22 17" fill="none">
                                        <path d="M12.5 1L20 8.5M20 8.5L12.5 16M20 8.5L0 8.5" stroke="#141616" stroke-width="2"/>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                    `
                }, '')
            }
        </div>
    </div>
</section>