.get_in_touch_block {
    background-color: #4D555B;
    h2 {
        color: #fff;
    }
    .subtitle {
        color: #B3BABF;
    }
    .get_in_touch_bottom {
        display: flex;
    }
    .contact_info {
        width: 100%;
        max-width: 470px;
        & > div {
            &:first-child {
                margin-bottom: 37px;
            }
            a {
                font-size: 28px;
                line-height: 33px;
                color: #FFFFFF;
                display: block;
                margin-bottom: 15px;
            }
            span {
                font-size: 16px;
                line-height: 19px;
                color: #B3BABF;
            }
        }
    }
}

@media screen and (max-width: 1025px) {
    .get_in_touch_block {
        .get_in_touch_bottom {
            flex-direction: column-reverse;
        }
        .contact_info {
            margin-bottom: 20px;
            & > div {
                a {
                    font-size: 26px;
                    line-height: 30px;
                    margin-bottom: 0;
                }
                &:first-child {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .get-in-touch-form form .form_flex > * {
        width: 100% !important;
    }
}
@media screen and (max-width: 520px) {
    .get_in_touch_block .contact_info > div a {
        font-size: 20px;
        line-height: 26px;
    }
}
@media screen and (max-width: 370px) {
    .get_in_touch_block .contact_info > div a {
        font-size: 17px;
    }
}