popup-form {
    opacity: 0;
    transition: all .2s ease;
    .popup_top {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        margin-bottom: 30px;
        border-bottom: 3px solid #00bfd6;
    }
    .popup_subtitle {
        text-align: left;
        color: #4d555b;
        font-size: 16px;
        margin-bottom: 15px;
        padding: 0 30px;
    }
    form-component {
        display: block;
        padding: 30px;
        padding-top: 0;
    }
    .close {
        position: relative;
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 20px;
        margin-top: 20px;
        cursor: pointer;
        &::after,
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            width: 110%;
            height: 1px;
            background: #141616;
            transform: rotate(45deg);
        }
        &::before {
            transform: rotate(-45deg);
        }
    }
    .popup {
        background: #fff;
        max-width: 640px;
        min-width: 500px;
        margin-top: 200px;
        transition: all 0.4s ease;
        .title {
            color: #141616;
            font-size: 24px;
            font-weight: 500;
            text-transform: capitalize;
            text-align: center;
            width: calc(100% - 20px);
            padding: 20px;
            padding-right: 0;
            padding-bottom: 0;
        }

        .get-in-touch-form form {
            .form_flex {
                margin-bottom: 10px;
                .required_input {
                    .unfocus {
                        color:#4d555b;
                    }
                }
                & > *:first-child {
                    margin-right: 10px;
                }
                & > * {
                    width: calc(50% - 5px);
                    input {
                        width: 100%;
                    }
                }
                & > div > input {
                    width: 100%;
                }
                input {
                    width: calc(50% - 5px);
                    &:-webkit-autofill,
                    &:-webkit-autofill:hover,
                    &:-webkit-autofill:focus,
                    &:-webkit-autofill:active {
                        background-color: #fff;
                        -webkit-box-shadow: 0 0 0 30px #fff inset !important;
                        -webkit-text-fill-color: #4d555b;
                    }
                }
            }
            textarea {
                margin-bottom: 15px;
            }
        }
    }
    .get-in-touch-form form {
        .form_flex {
            & > * input,
            input {
                color: #4d555b;
                font-size: 14px;
                &::placeholder {
                    font-size: 14px;
                    color: #4d555b;
                }
            }
        }
        textarea {
            color: #4d555b;
            font-size: 14px;
            &::placeholder {
                font-size: 14px;
                color: #4d555b;
            }
        }
    }
}

popup-form.show {
    opacity: 1;
    .popup {
        margin-top: 0;
    }
}

@media screen and (max-width:650px) {
    popup-form .popup {
        width: 95%;
        margin: 0 auto;
        min-width: 280px;
        .get-in-touch-form form .form_flex {
            & > *, input {
                width: 100%;
            }
        }
    }
}
@media screen and (max-width:500px) {
    popup-form {
        form-component {
            padding: 15px;
        }
        .popup {
            &_subtitle {
                padding: 0 15px;
            }
            &_top {
                margin-bottom: 15px;
                padding-bottom: 15px;
            }
            .title {
                padding: 15px;
            }
        }
    }
}
@media screen and (max-width:450px) {
    popup-form .popup .title {
        font-size: 18px;
    }
}