form-component {
    width: 100%;
    max-width: 950px;
    margin-right: 24px;
}
.get-in-touch-form {
    .popup_shadow {
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s ease;
        &.show_shadow {
            opacity: 1;
            pointer-events: all;
        }
    }
    form {
        width: 100%;
        max-width: 950px;
        margin-right: 24px;
        button {
            background: #00BFD6;
            border: 1px solid #00BFD6;
            border-radius: 50px;
            width: 180px;
            font-size: 18px;
            line-height: 25px;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Roboto, sans-serif;
            cursor: pointer;
        }
        .form_flex {
            display: flex;
            margin-bottom: 30px;
            input {
                font-family: Roboto, sans-serif;
                outline: none;
                width: 100%;
                height: 100%;
                background-color: transparent;
                border: 1px solid #DBE2E7;
                padding: 7px 17px;
                color: #fff;
                height: 50px;
                width: calc(50% - 12px);
                &::placeholder {
                    color: #fff;
                }
                &:-webkit-autofill,
                &:-webkit-autofill:hover, 
                &:-webkit-autofill:focus, 
                &:-webkit-autofill:active {
                    background-color: #4D555B;
                    -webkit-box-shadow: 0 0 0 30px #4D555B inset !important;
                    -webkit-text-fill-color: #fff;
                }
            }
            & > * {
                width: calc(50% - 12px);
                height: 50px;
                input {
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    border: 1px solid #DBE2E7;
                    padding: 7px 17px;
                    color: #fff;
                    &::placeholder {
                        color: #fff;
                    }
                    &:-webkit-autofill,
                    &:-webkit-autofill:hover, 
                    &:-webkit-autofill:focus, 
                    &:-webkit-autofill:active{
                        background-color: transparent;
                    }
                }
                &:first-child {
                    margin-right: 24px;
                }
            }
            .required_input {
                position: relative;
                transition: all .2s ease;
                .unfocus {
                    pointer-events: none;
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 36px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100px;
                    height: 50px;
                    color: #FFFFFF;
                    opacity: 1;
                    transition: all .2s ease;
                }
                input:focus + .unfocus {
                    opacity: 0;
                }
            }
            input {
                transition: all .2s ease;
            }
            input.error {
                & + .unfocus + .email-error, & + .phone-error {
                    top: 3px;
                    color: #FF7D7D;
                    display: block;
                }
            }
            .email-error, .phone-error {
                font-size: 12px;
                font-weight: 400;
                line-height: 120%;
            }
            .error-input {
                margin-bottom: 15px;
            }
            span {
                display: none;
                position: relative;
                top: -100%;
                color: transparent;
                transition: all .2s ease;
            }
        }
        textarea {
            width: 100%;
            font-family: Roboto, sans-serif;
            height: 145px;
            background-color: transparent;
            border: 1px solid #DBE2E7;
            padding: 7px 17px;
            color: #fff;
            outline: none;
            margin-bottom: 30px;
            resize: none;
            font-weight: 300;
            font-size: 14px;
            line-height: 36px;
            &::placeholder {
                font-weight: 300;
                font-size: 14px;
                line-height: 36px;
                color: #FFFFFF;
            }
        }
        .success_text {
            position: relative;
            top: -50px;
            color: transparent;
            transition: all .2s ease;
            display: none;
        }
        &.success .success_text {
            display: block;
            top: -12px;
            color: green;
        }
    }
}

form-component[data-no-flex] {
    .get-in-touch-form {
        form {
            .form_flex {
                flex-direction: column;
                .required_input {
                    border: none;
                    .unfocus {
                        color: #4D555B;
                    }
                }
                & > * {
                    width: 100%;
                    margin-bottom: 30px;
                    border: 1px solid #B3BABF;
                    color: #4D555B;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &::placeholder {
                        color: #4D555B;
                    }
                    input {
                        color: #4D555B;
                        border: 1px solid #B3BABF;
                        &::placeholder {
                            color: #4D555B;
                        }
                    }
                }
                & > div {
                    border: none;
                }
            }
            textarea {
                color: #4D555B;
                &::placeholder {
                    color: #4D555B;
                }
                border: 1px solid #B3BABF;
            }
            button {
                border-radius: 50px;
                width: initial;
                height: initial;
                padding: 10px 50px;
            }
        }
    }
}

@media screen and (max-width: 1025px) {
    .get-in-touch-form {
        form {
            .form_flex {
                margin-bottom: 14px;
                & > *:first-child {
                    margin-right: 14px;
                }
                input {
                    width: calc(50% - 7px);
                }
                & > * {
                    width: calc(50% - 7px);
                    input {
                        width: 100%;
                    }
                }
            }
            textarea {
                margin-bottom: 15px;
            }
        }
    }
    form-component[data-no-flex] .get-in-touch-form form .form_flex {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 650px) {
    .get-in-touch-form form .form_flex {
        flex-direction: column;
        input {
            width: 100%;
        }
        & > *:first-child {
            margin-right: 0;
            margin-bottom: 15px;
            width: 100%;
        }
    }
}