<section class="grid_list">
    <div class="container">
        <h2 gh-id="${ghId}.title"> TITLE </h2>
        <p gh-id="${ghId}.subtitle" class="subtitle"> SUBTITLE </p>
        <div class="grid_list_wrapper">
            ${
                list.reduce((acc, item, index) => {
                    return acc + `
                        ${item.link ? `
                            <div class="grid_list_item grid_item_button">
                                <a href="${item.link}">
                                    <span gh-id="${ghId}.list.${index}.label"> BUTTON TEXT </span>
                                    <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="22" height="17" viewBox="0 0 22 17" fill="none"><path d="M12.5 1L20 8.5M20 8.5L12.5 16M20 8.5L0 8.5" stroke="#fff" stroke-width="2"/></svg>
                                </a>
                            </div>
                            ` : `
                            <div class="grid_list_item">
                                <div class="top">
                                    <img src="${item.image.src}" alt="${item.image.alt}" title="${item.image.title}">
                                    <span gh-id="${ghId}.list.${index}.label"> LABEL </span>
                                </div>
                                ${item.text ? `
                                    <div class="bottom">
                                        <p gh-id="${ghId}.list.${index}.text"> TEXT </p> 
                                    </div>
                                ` : ''}
                            </div>
                        `}
                    `
                }, '')
            }
        </div>
    </div>
</section>