tech-block {
    &.first {
        .tech_block {
            padding-top: 60px;
            padding-bottom: 0;
        }
    }
    &.last {
        .tech_block {
            padding-bottom: 36px;
        }
    }
    .tech_block {
        padding-top: 36px;
        padding-bottom: 0;
    }
    h2 {
        margin-bottom: 30px;
    }
    .thech_name {
        font-size: 24px;
        line-height: 32px;
        color: #0C6980;
        margin-bottom: 35px;
    }
    .tech_wrap {
        display: flex;
        flex-wrap: wrap;
    }
    .tech_support_block {
        position: relative;
        text-align: center;
        width: 150px;
        min-width: 150px;
        height: 150px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 1.6442px 1.6442px 8.221px rgba(174, 174, 192, 0.3);
        margin-right: 24px;
        padding: 20px;
        margin-bottom: 24px;
        &:last-child {
            margin-right: 0;
        }
        .tech_support_name {
            position: absolute;
            bottom: -100%;
            left: 0;
            transition: all .35s ease;
            width: 100%;
            height: 100%;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 28px;
            line-height: 25px;
            color: #00BFD6;
        }
        &:hover {
            .tech_support_name {
                bottom: 0;
            }
        }
        .image {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 1025px) {
    tech-block {
        &.first {
            .tech_block {
                padding-top: 40px;
                padding-bottom: 0;
            }
        }
        .tech_block {
            padding-top: 20px;
            padding-bottom: 0;
        }
        &.last {
            .tech_block {
                padding-bottom: 20px;
            }
        }
    }
}
@media screen and (max-width: 790px) and (min-width: 540px) {
    tech-block {
        .tech_support_block {
            width: 31%;
            margin-right: 3%;
            margin-bottom: 3%;
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}
@media screen and (max-width: 790px) {
    tech-block {
        .tech_support_block {
            aspect-ratio: 1 / 1;
            height: auto;
        }
    }
}

@media screen and (max-width: 600px) {
    tech-block {
        &.first {
            .tech_block {
                padding-top: 30px;
                padding-bottom: 0;
            }
        }
        .tech_block {
            padding-top: 6px;
            padding-bottom: 0;
        }
        &.last {
            .tech_block {
                padding-bottom: 6px;
            }
        }
    }
}
@media screen and (max-width: 540px) {
    tech-block {
        .tech_support_block {
            width: 48%;
            margin-right: 4%;
            margin-bottom: 4%;
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
}
@media screen and (max-width: 375px) {
    tech-block {
        .tech_support_block {
            min-width: initial;
            margin-right: 24px;
            margin-bottom: 24px;
            width: 46%;
        }
    }
}
@media screen and (max-width: 342px) {
    tech-block {
        .tech_support_block {
            width: 45%;
        }
    }
}