<section class="ticks_list">
    <div class="container">
        <h2 gh-id="${ghId}.title"> TITLE </h2>
        <div class="subtitle">
            <p gh-id="${ghId}.subtitle"> SUBTITLE </p>
        </div>
        <ul class="tick_list">
            ${
                list.reduce((acc, item, index) => {
                    return acc + `
                    <li gh-id="${ghId}.list.${index}.text">Accounting and Cost Transaction Tracking</li>
                    `
                }, '')
            }
        </ul>
    </div>
</section>