pricing-cards {
    .popup_shadow.show_shadow {
        opacity: 1;
        pointer-events: all;
    }
    .popup_shadow {
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.5);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        pointer-events: none;
        transition: all .4s ease;
    }
    h2 {
        text-align: center;
    }
    h3 {
        margin-bottom: 0;
    }
    .subtitle {
        width: 100%;
        max-width: 1080px;
        margin: 0 auto;
        text-align: center;
    }
    .pricing_cards_wrapper {
        display: flex;
    }
    .card_item {
        background: #FFFFFF;
        border: 1px solid #EFF0F7;
        box-shadow: 3px 3px 15px rgba(174, 174, 192, 0.3);
        padding: 45px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all .2s ease;
        .card_icon {
            width: 72px;
            height: 72px;
            margin-right: 18px;
        }
        .item {
            &_top {
                display: flex;
                align-items: flex-start;
                margin-bottom: 20px;
                position: relative;
                justify-content: space-between;
                &_left {
                    display: flex;
                    align-items: center;
                }
                .popular {
                    background-color: #3d8799;
                    padding: 12px 24px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 14px;
                    color: #FFFFFF;
                }
            }
            &_middle {
                margin-bottom: 30px;
                ul {
                    list-style: none;
                }
                li {
                    padding-left: 40px;
                    margin-bottom: 20px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 25px;
                    color: #4D555B;
                    position: relative;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 26px;
                        height: 26px;
                        background-repeat: no-repeat;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none'%3E%3Cg clip-path='url(%23clip0_955_2736)'%3E%3Cpath d='M13 26C20.1799 26 26 20.1799 26 13C26 5.8201 20.1799 0 13 0C5.8201 0 0 5.8201 0 13C0 20.1799 5.8201 26 13 26Z' fill='%230C6980'/%3E%3Cpath d='M7.11719 13.8406L10.479 17.2024L18.8835 8.79785' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_955_2736'%3E%3Crect width='26' height='26' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                    }
                }
            }
            &_bottom {
                display: flex;
                align-items: center;
                justify-content: center;
                .popup_button {
                    display: block;
                    cursor: pointer;
                    background: #0C6980;
                    border: 1px solid #0C6980;
                    border-radius: 50px;
                    padding: 12px 60px;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 36px;
                    color: #FFFFFF;
                    transition: all .2s ease;
                }
            }
        }
        h3 {
            transition: all .2s ease;
        }
        &:hover {
            background-color: #0C6980;
            h3 {
                color: #fff;
            }
            .item {
                &_middle {
                    li {
                        color: #E9F1F3;
                        &::before {
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none'%3E%3Cg clip-path='url(%23clip0_955_3046)'%3E%3Cpath d='M13 26C20.1799 26 26 20.1799 26 13C26 5.8201 20.1799 0 13 0C5.8201 0 0 5.8201 0 13C0 20.1799 5.8201 26 13 26Z' fill='white'/%3E%3Cpath d='M7.11719 13.8406L10.479 17.2024L18.8835 8.79785' stroke='%230C6980' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_955_3046'%3E%3Crect width='26' height='26' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                        }
                    }
                }
                &_bottom {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .popup_button {
                        color: #0C6980;
                        background-color: #fff;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1350px) {
    pricing-cards {
        .card_item {
            padding: 20px 15px;
            h3 {
                white-space: nowrap;
            }
            .item_top {
                .popular {
                    padding: 12px;
                }
            }
        }
    }
}
@media screen and (max-width: 1170px) {
    pricing-cards {
        .card_item {
            .item_top {
                flex-direction: column;
                align-items: flex-end;
                &_left {
                    width: 100%;
                }
            }
        }
    }
}
@media screen and (max-width: 1100px) and (min-width:800px) {
    pricing-cards {
        .pricing_cards_wrapper {
            flex-wrap: wrap;
        }
        .card_item {
            width: 49%;
            margin-right: 2%;
            margin-bottom: 2%;
            &:nth-child(2n) {
                margin-right: 0;
            }
            &:nth-child(3n) {
                margin-bottom: 0;
            }
        }
    }
}
@media screen and (min-width: 1100px) {
    pricing-cards {
        .card_item {
            width: 32.27%;
            margin-right: 1.5%;
            max-width: 464px;
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}
@media screen and (max-width: 800px) {
    pricing-cards {
        .pricing_cards_wrapper {
            flex-wrap: wrap;
        }
        .card_item {
            width: 100%;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
@media screen and (max-width: 400px) {
    pricing-cards .card_item {
        .card_icon {
            margin-right: 10px;
        }
        .item_middle li {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 10px;
        }
        .item_bottom .popup_button {
            font-size: 16px;
            line-height: 22px;
        }
        .card_icon {
            width: 60px;
            height: 60px;
        }
    }
}