posts-template {
    .empty {
        text-align: center;
        font-size: 26px;
        width: 100%;
    }
    .posts_list {
        display: flex;
        flex-wrap: wrap;
    }
    .search {
        margin-bottom: 20px;
        justify-content: flex-end;
        align-items: center;
        border-bottom: 1px solid #1b1b1d;
        display: flex;
        margin-left: auto;
        max-width: 200px;
        padding: 0 8px 0 0;
        input {
            &:-webkit-autofill,
            &:-webkit-autofill:hover, 
            &:-webkit-autofill:focus, 
            &:-webkit-autofill:active{
                background-color: transparent;
            }
            border: none;
            color: #141616;
            display: block;
            font-size: 16px;
            background-color: transparent;
            line-height: 16px;
            outline: none;
            padding: 8px 0;
            width: 100%;
            &:focus {
                background-color: transparent;
            }
            &::placeholder {
                font-size: 16px;
                line-height: 16px;
                color: #525252;
            }
        }
        .loader_icon {
            display: none;
        }
        input.loading {
            + .icon {
                .search_icon {
                    display: none;
                }
                .loader_icon {
                    display: block;
                    width: 23px;
                    height: 23px;
                    animation: loading 2s linear infinite;
                }
            }
        }
    }
    .post {
        background-color: #fff;
        background: #ffffff;
        border: 1px solid #dbe2e7;
        transition: all .2s ease;
        &:hover {
            box-shadow: 3px 3px 15px rgb(174 174 192 / 30%);
            .read_more {
                a {
                    color: #00BFD6;
                    svg path {
                        stroke: #00BFD6;
                    }
                    &::before {
                        width: 100%;
                    }
                }
            }
        }
        .post_right {
            padding: 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: calc(100% - 200px);
        }
        .author_date {
            display: flex;
            margin-bottom: 16px;
            & > * {
                margin-right: 4px;
                font-size: 14px;
                line-height: 17px;
                color: #141616;
                &:last-child {
                    margin-right: 0;
                }
            }
            & > a {
                font-size: 14px;
                line-height: 17px;
                color: #0c6980;
                display: block;
                position: relative;
                transition: all .2s ease;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    width: 0;
                    height: 1px;
                    background-color: #00BFD6;
                    transition: all .2s ease;
                }
                &:hover {
                    color: #00BFD6;
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
        .intro {
            font-size: 16px;
            line-height: 24px;
            color: #4d555b;
            margin-bottom: 24px;
            p {
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .read_more {
            display: flex;
            a {
                display: flex;
                align-items: center;
                font-size: 18px;
                line-height: 25px;
                color: #141616;
                padding: 10px 20px;
                padding-left: 0;
                position: relative;
                transition: all .2s ease;
                svg path {
                    transition: all .2s ease;
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 100%; 
                    height: 1px;
                    background-color: #141616;
                    bottom: 0;
                    left: 0;
                }
                &::before {
                    content: '';
                    position: absolute;
                    width: 0; 
                    height: 1px;
                    background-color: #00BFD6;
                    bottom: 0;
                    left: 0;
                    z-index: 2;
                    transition: all .2s ease;
                }
                svg {
                    margin-left: 10px;
                }
            }
        }
        .post_title {
            font-size: 24px;
            line-height: 33px;
            color: #141616;
            margin-bottom: 8px;
        }
        .top_flex {
            display: flex;
            align-items: flex-start;
            margin-bottom: 16px;
            flex-direction: column;
            & > * {
                margin-right: 16px;
                font-size: 14px;
                line-height: 17px;
                color: #111111;
                display: flex;
                align-items: center;
                & > div {
                    margin-right: 16px;
                    &:last-child {
                        margin-right: 0;
                        white-space: nowrap;
                    }
                }
                &:last-child {
                    margin-right: 0;
                    margin-top: 10px;
                }
            }
            .views,
            .rating,
            .comments {
                display: flex;
                align-items: center;
                svg {
                    margin-right: 10px;
                }
            }
            .comments svg {
                position: relative;
                top: 1px;
            }
        }
        .categories {
            display: flex;
            a {
                background-color: #141616;
                padding: 4px 8px;
                font-size: 14px;
                white-space: nowrap;
                line-height: 17px;
                color: #fff;
                display: block;
                transition: all .2s ease;
                &:hover {
                    background-color: #00BFD6;
                }
            }
        }
        &.main {
            &.hide {
                display: none;
            }
            .top_flex {
                align-items: center;
                & > *:last-child {
                    margin-top: 0;
                }
            }
            width: 100%;
            max-width: 100%;
            margin-bottom: 60px;
            margin-right: 0;
            display: flex;
            background: #ffffff;
            border: 1px solid rgba(17, 17, 17, 0.1);
            .intro {
                margin-bottom: 16px;
            }
            img {
                object-fit: cover;
                width: 100%;
                max-width: 720px;
            }
            .post_title {
                font-size: 40px;
                line-height: 48px;
                color: #141616;
                margin-bottom: 16px;
            }
            .post_left {
                width: 50%;
                max-width: 720px;
                a {
                    width: 100%;
                    height: 100%;
                    padding-left: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .post_right {
                width: 50%;
                max-width: 720px;
                padding: 45px 56px;
                .top_flex {
                    flex-direction: row;
                    margin-bottom: 24px;
                }
                .categories {
                    a {
                        padding: 6px 8px;
                    }
                }
            }
            &:hover {
                .read_more {
                    a {
                        color: #00BFD6;
                    }
                }
            }
        }
    }
    .pagination {
        &.hide {
            display: none;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        &_wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .prev, .next {
            border: 1px solid #B3BABF;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .2s ease;
            cursor: pointer;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
            }
            svg path {
                stroke: #00BFD6;
                background-color: #fff;
                transition: all .2s ease;
            }
            &.disable {
                cursor: default;
                svg path {
                    stroke: #4D555B;
                }
            }
            &:not(.disable):hover {
                background-color: #00BFD6;
                svg path {
                    stroke: #fff;
                }
            }
        }
        .pages {
            list-style: none;
            display: flex;
            align-items: center;
            li {
                width: 40px;
                height: 40px;
                margin-right: 20px;
                border: 1px solid #B3BABF;
                a, span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #4D555B;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    width: 100%;
                    height: 100%;
                    transition: all .2s ease;
                    &:hover {
                        background-color: #00BFD6;
                        color: #fff;
                    }
                }
                &.active {
                    a, span {
                        background-color: #00BFD6;
                        color: #fff;
                    }
                }
            }
        }
        .prev {
            margin-right: 20px;
        }
    }
}

@keyframes loading {
    0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 1200px) {
    posts-template .post.main .post_left a {
        padding-left: 0;
    }
    posts-template {
        .post.main {
            flex-direction: column;
            .post_left,
            .post_right {
                width: 100%;
                max-width: initial;
            }
            .intro {
                margin-bottom: 30px;
            }
            .post_right {
                padding: 30px;
                .top_flex {
                    margin-bottom: 15px;
                }
            }
            img {
                max-width: initial;
            }
        }
    }
}
@media screen and (min-width: 1200px) {
    posts-template {
        .posts_list .post {
            width: 32.27%;
            margin-right: 1.5%;
            margin-bottom: 1.5%;
            max-width: 464px;
            img {
                height: 200px;
                object-fit: cover;
                width: 100%;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}
@media screen and (max-width: 1200px) and (min-width: 770px) {
    posts-template {
        .posts_list .post {
            width: 49%;
            margin-right: 2%;
            margin-bottom: 2%;
            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
}
@media screen and (max-width: 900px) {
    posts-template section {
        padding-top: 0;
    }
}
@media screen and (max-width: 770px) {
    posts-template {
        .posts_list .post {
            width: 100%;
            margin-bottom: 15px;
            .top_flex {
                flex-direction: initial;
                flex-wrap: wrap;
                align-items: center;
            }
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        .post .post_right {
            height: auto;
        }
    }

}

@media screen and (max-width: 600px) {
    posts-template {
        .post {
            &.main {
                margin-bottom: 30px;
                .post_title {
                    font-size: 24px;
                    line-height: 33px;
                    margin-bottom: 10px;
                }
                .post_right {
                    padding: 20px;
                    .top_flex {
                        margin-bottom: 10px;
                    }
                }
            }
            .author_date {
                margin-bottom: 10px;
            }
            .intro {
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 20px;
            }
        }
    }
}
@media screen and (max-width: 470px) {
    posts-template {
        .post, .post.main {
            .top_flex > * {
                margin-right: 0;
            }
            .post_right .top_flex {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                & > div {
                    display: flex;
                    align-items: center;
                    &:first-child {
                        margin-bottom: 10px;
                    }
                    & > div {
                        margin-right: 16px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 450px) {
    posts-template {
        .post, .post.main {
            .post_right {
                padding: 15px;
            }
            .post_title {
                font-size: 20px;
                line-height: 24px;
            }
            .read_more a {
                font-size: 14px;
                line-height: 18px;
            }
        }
        .post {
            .read_more a {
                padding-left: 0;
            }
        }
        .post.main {
            .read_more a {
                padding: 10px 15px;
                padding-left: 15px;
            }
        }
    }
}