<section class="comments">
    <div class="container">
        <div class="title">Share your thoughts in the comments below!</div>
        <div class="like_subtitle">Have any ideas or suggestions about the article or website? Feel free to write it.</div>
        <form class="comment__form" onsubmit="sendForm()">
            <input type="text" name="name" placeholder="Name" required>
            <input type="email" name="email" placeholder="Email address">
            <textarea required name="text" cols="30" rows="10" placeholder="Comment"></textarea>
            <div class="checkbox">
                <input type="checkbox" name="save" id="save">
                <label for="save">Save my name and email in this browser for the next time I comment.</label>
            </div>
            <button type="submit">Post Comment</button>
            <span class="success"></span>
        </form>
        ${comments.length > 0 ? `
            <h2>Comments</h2>
        ` : ''}
        <div class="comments__wrapper">
            ${
                comments.reduce((acc, comment, index) => {
                    return acc + ` 
                        <div itemprop="comment" itemscope="" itemtype="https://schema.org/Comment" data-id="${comment.id}" class="comments__item">
                            <div class="wrapper">
                                <div class="image">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#00BFD6" d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm7.753 18.305c-.261-.586-.789-.991-1.871-1.241-2.293-.529-4.428-.993-3.393-2.945 3.145-5.942.833-9.119-2.489-9.119-3.388 0-5.644 3.299-2.489 9.119 1.066 1.964-1.148 2.427-3.393 2.945-1.084.25-1.608.658-1.867 1.246-1.405-1.723-2.251-3.919-2.251-6.31 0-5.514 4.486-10 10-10s10 4.486 10 10c0 2.389-.845 4.583-2.247 6.305z"></path></svg>
                                </div>
                                <div class="main">
                                    <div class="top">
                                       <div class="top_left">
                                            <div class="name_email">
                                                <span itemprop="creator" class="name">${comment.name}</span>
                                                <span class="email">(${comment.email})</span>
                                            </div>
                                            <div class="bottom">
                                                <span itemprop="datePublished" datetime="${new Date(Number(comment.date)).toLocaleDateString('uk')}" class="date">${new Date(Number(comment.date)).toLocaleDateString('uk')}</span>
                                            </div>
                                       </div>
                                       <div class="top_right">
                                            <span class="desktop reply" onclick="addCommentForm()">Reply</span> 
                                        </div>
                                    </div>
                                    <p itemprop="text" class="comment_content">
                                        ${comment.text}
                                    </p>
                                    <div class="mobile_wrapper">
                                        <span class="mobile reply" onclick="addCommentForm()">Reply</span> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        ${comment.replies.length ? `
                            ${
                                comment.replies.reduce((acc, reply, index) => {
                                    return acc + ` 
                                    <div itemprop="comment" itemscope="" itemtype="https://schema.org/Comment" data-id="${comment.id}" class="comments__item reply">
                                        <div class="wrapper">
                                            <div class="image">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#00BFD6" d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm7.753 18.305c-.261-.586-.789-.991-1.871-1.241-2.293-.529-4.428-.993-3.393-2.945 3.145-5.942.833-9.119-2.489-9.119-3.388 0-5.644 3.299-2.489 9.119 1.066 1.964-1.148 2.427-3.393 2.945-1.084.25-1.608.658-1.867 1.246-1.405-1.723-2.251-3.919-2.251-6.31 0-5.514 4.486-10 10-10s10 4.486 10 10c0 2.389-.845 4.583-2.247 6.305z"></path></svg>
                                            </div>
                                            <div class="main">
                                                <div class="top">
                                                   <div class="top_left">
                                                        <div class="name_email">
                                                            <span itemprop="creator" class="name">${reply.name}</span>
                                                            <span class="email">(${reply.email})</span>
                                                        </div>
                                                        <div class="bottom">
                                                            <span itemprop="datePublished" datetime="${new Date(Number(reply.date)).toLocaleDateString('uk')}" class="date">${new Date(Number(reply.date)).toLocaleDateString('uk')}</span>
                                                        </div>
                                                   </div>
                                                </div>
                                                <p itemprop="text" class="comment_content">
                                                    ${reply.text}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    `
                                }, '')
                            }
                        ` : ''}
                    `
                    }, 
                '')
            }
        </div>
    </div>
</section>