subscribe-mail {
    .subscribe-mail {
        padding-top: 0;
        .message-error {
            position: absolute;
            top: 30px;
            left: 32px;
            color: #FF7D7D;
            font-size: 12px;
            font-weight: 400;
            line-height: 120%;
            transition: all .2s ease;
            z-index: 1;
        }
        .error + .message-error {
            top: 75px;
        }
        .success_message {
            opacity: 0;
            transition: all .4s ease;
            position: absolute;
            top: 0;
            left: 0;
            .bigger {
                color: #00BFD6;
                font-size: 18px;
                font-weight: 400;
                line-height: 120%;
                margin-bottom: 5px;
            }
            .smaller {
                color: #FFF;
                font-size: 12px;
                font-weight: 400;
                line-height: 120%;
            }
        }
        .success .success_message {
            opacity: 1;
        }
        form.success {
            opacity: 0;
        }
        .container {
            background: #0C6980;
            border: 1px solid rgba(17, 17, 17, 0.05);
            filter: drop-shadow(3px 3px 15px rgba(174, 174, 192, 0.3));
            padding: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .heading {
                font-weight: 700;
                font-size: 40px;
                line-height: 48px;
                color: #FFFFFF;
                margin-bottom: 24px;
            }
            .text {
                font-size: 18px;
                line-height: 27px;
                color: #FFFFFF;
            }
            .hint {
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
                padding-left: 20px;
                margin-bottom: 16px;
                transition: all .4s ease;
                &.success {
                    opacity: 0;
                }
            }
            .input {
                position: relative;
                form {
                    position: relative;
                    transition: all .4s ease;
                    input {
                        height: 70px;
                        width: 460px;
                        border-radius: 50px;
                        outline: none;
                        background: #F5F8FB;
                        border: 1px solid rgba(17, 17, 17, 0.1);
                        padding: 8px 30px;
                        padding-right: 25px;
                        font-weight: 400;
                        font-size: 16px;
                        position: relative;
                        z-index: 2;
                        line-height: 24px;
                        color: #4D555B;
                        &::placeholder {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            color: #878787;
                        }
                    }
                    button {
                        position: absolute;
                        z-index: 3;
                        outline: none;
                        top: 7px;
                        right: 7px;
                        background: #00BFD6;
                        border: 1px solid #00BFD6;
                        border-radius: 50px;
                        padding: 15px 30px;
                        font-size: 16px;
                        line-height: 24px;
                        color: #FFFFFF;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        span {
                            margin-right: 10px;
                        }
                        svg {
                            position: relative;
                            left: 0;
                            transition: all .2s ease;
                        }
                        &:hover {
                            svg {
                                left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1455px) {
    subscribe-mail .subscribe-mail {
        padding-bottom: 0;
    }
}
@media screen and (max-width: 970px) {
    subscribe-mail .subscribe-mail .container {
        flex-direction: column;
        align-items: flex-end;
        .subscribe_left {
            width: 100%;
            margin-bottom: 15px;
        }
    }
}
@media screen and (max-width: 630px) {
    subscribe-mail {
        .subscribe_right {
            width: 100%;
        }
        .subscribe-mail .container {
            .input form input {
                width: 100%;    
            }
            .hint {
                padding-left: 0;
            }
        }
    }
}
@media screen and (max-width: 520px) {
    subscribe-mail {
        .subscribe-mail .container {
            padding: 30px 20px;
            .heading {
                font-size: 32px;
                line-height: 36px;
            }
            .input form {
                input {
                    height: 60px;
                }
                button {
                    padding: 15px;
                    span {
                        display: none;
                    }
                }
            }
        }
    }
}