<section class="top_banner">
    <div class="container">
        <breadcrumbs-component data-items='${breadcrumbs}'></breadcrumbs-component>
    </div>
    ${page ? `
        <div class="small_container">
            <h1>Blog</h1>
        </div>    
    ` : `
        <div class="small_container">
            ${ json.title ? `
                <h1 gh-id="${ghId}.title"> H1 </h1>
            ` : ''}
            <p class="main_subtitle" gh-id="${ghId}.subtitle">
                SUBTITLE
            </p>
            ${button ? `
                <a class="btn" href="${slug}#get_in_touch_block" gh-id="${ghId}.button.text"> BUTTON LINK </a>
            ` : ''}
        </div>
    `}
</section>