<section class="service_counter">
    <div class="container">
        ${type !== "bottomText" ? `
            <div class="top_part">
                <${ !isService ? `h2` : 'div'} class="h2" gh-id="${ghId}.title"> TITLE </${ !isService ? `h2` : 'div'}>
                ${json.subtitle ? `
                    <p gh-id="${ghId}.subtitle" class="subtitle"> SUBTITLE </p>
                ` : ''}
            </div>
        ` : ''}
        <div class="counters">
            ${
                counterList.reduce((acc, item, index) => {
                    return acc + `
                    <div class="counter_item">
                        <div class="counter_top">
                            <span class="counter_num" gh-id="${ghId}.counter_items.${index}.number">44</span>
                            <span class="counter_symbol" gh-id="${ghId}.counter_items.${index}.symbol">+</span>
                        </div>
                        <div class="counter_bottom" gh-id="${ghId}.counter_items.${index}.text">Custom Software Development</div>
                    </div>
                    `
                }, '')
            }
        </div>
        ${type === "bottomText" ? `
            <div class="bottom_text">
                <${ !isService ? `h2` : 'div'} class="h2" gh-id="${ghId}.title"> TITLE </${ !isService ? `h2` : 'div'}>
                <p class="subtitle" gh-id="${ghId}.subtitle"> SUBTITLE </p>
                <a class="button" href="${button.link}" gh-id="${ghId}.button.text"> BUTTON LINK </a>
            </div>
        ` : ''}
        ${type === "bottomButton" ? `
            <div class="bottom_text">
                <a class="button" href="${button.link}" gh-id="${ghId}.button.text"> BUTTON LINK </a>
            </div>
        ` : ''}
    </div>
</section>