.hamburger {
    display: none;
    cursor: pointer;
}
header {
    position: relative;
    .header__wrapper .header__logo img {
        max-height: 40px;
    }
    .has_child {
        &::after {
            content: "";
            border-bottom: 2px solid #2b60fa;
            border-left: 2px solid #2b60fa;
            width: 6px;
            height: 6px;
            transition: all 0.2s ease;
            transform: rotate(-45deg);
            margin: 0 6px;
            margin-bottom: 3px;
        }
        &:hover::after {
            transform: rotate(135deg);
            margin-top: 9px;
        }
        .megamenu {
            box-shadow: inset 0px 2px 20px rgba(211, 211, 211, 0.2);
            width: 100%;
            /*height: 100%;*/
            transition: all 0.2s ease;
            max-height: 0;
            position: absolute;
            z-index: 12;
            top: 80px;
            left: 0;
            background-color: #fefefe;
            overflow: hidden;
            padding: 0;
            display: flex;
            justify-content: space-between;
            .left {
                padding: 50px 45px 50px 45px;
                width: 50%;
                .menu_title {
                    border-bottom: 1px solid #999999;
                    padding-bottom: 10px;
                }
                .childs_wrapper {
                    padding-top: 10px;
                }
            }
            .megamenu_contact {
                width: 50%;
                background: #f4f5fb;
                padding: 50px 45px 50px 45px;
                max-width: 575px;
                .heading-megamenu {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 23px;
                    text-transform: capitalize;
                    color: #1b1b1d;
                    margin-bottom: 30px;
                }
                .contact_flex {
                    display: flex;
                    .contact_text {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }
                    p {
                        font-size: 16px;
                        line-height: 25px;
                        color: #1b1b1d;
                    }
                }
            }
            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                li {
                    transition: all 0.2s ease;
                    width: 50%;
                    margin-right: 0;
                    &:hover a {
                        color: #2b60fa;
                    }
                    a {
                        font-size: 16px;
                        line-height: 30px;
                        color: #1b1b1d;
                        display: block;
                        width: 100%;
                        height: 100%;
                        padding: 2px 15px;
                        max-width: 230px;
                    }
                }
            }
        }
        &:hover .megamenu {
            max-height: 420px;
        }
        .button {
            transition: all 0.2s ease;
            margin-top: 15px;
            span {
                transition: all 0.2s ease;
            }
            svg {
                margin-left: 9px;
                transform: rotate(-90deg);
                path {
                    transition: all 0.2s ease;
                }
            }
            &:hover {
                svg path {
                    stroke: #fff;
                }
            }
        }
    }
}



.header {
    background: #fff;
    box-shadow: 0px 1px 20px rgba(211, 211, 211, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    &.anchor-menu-fixed {
        .has_child .megamenu {
            top: 60px;
        }
        .header__wrapper {
            height: 60px;
        }
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
    }
    &__menu {
        height: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            margin-right: 35px;
            display: flex;
            align-items: center;
            height: 100%;
            a, & > div {
                font-size: 18px;
                color: #1b1b1d;
                cursor: pointer;
                transition: 0.2s all;
            }
        }
        a:not(a.button) {
            transition: 0.2s all;
            &:hover {
                color: #2b60fa;
            }
        }
        & > li > a, & > li > div:not(.megamenu) {
            display: flex;
            align-items: center;
            height: 100%;
        }
    }
}

.move_part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

@media screen and (max-width: 1200px) {
    header {
        .has_child {
            & > span {
                font-size: 20px;
                padding: 10px 30px;
                display: block;
            }
            &::after {
                position: absolute;
                top: 12px;
                right: 27px;
                width: 10px;
                height: 10px;
            }
            
            
            &:hover {
                &::after {
                    margin-top: 0;
                    transform: rotate(-45deg);
                }
                .megamenu {
                    max-height: 0;
                    padding: 0;
                }
            }
            &.hover {
                .megamenu {
                    max-height: 1000px;
                    padding: 10px;
                    padding-right: 0;
                }
                &::after {
                    margin-top: 5px;
                    transform: rotate(135deg);
                }
            }
            .megamenu {
                position: static;
                box-shadow: none;
                background-color: #fff;
                ul li {
                    border-bottom: none;
                    a {
                        max-width: 100%;
                    }
                }
                .left {
                    width: 100%;
                    padding: 0;
                    padding-left: 20px;
                    .menu_title {
                        display: none;
                    }
                    .childs_wrapper {
                        padding-top: 0;
                    }
                }
                .megamenu_contact {
                    display: none;
                }
            }
        }
        &.anchor-menu-fixed .move_part {
            top: 60px;
        }
    }
    .active {
        .move_part {
            left: 0;
            visibility: visible;
            display: block;
            opacity: 1;
            overflow: auto;
            padding-bottom: 50px;
            border-top: 1px solid #000;
        }
        .hamburger {
            svg {
                transition: all 0.3s ease;
                transform: rotate(490deg);
                opacity: 0;
            }
            & > div {
                top: calc(50% - 1px);
                left: -100%;
                opacity: 0;
            }
            &::after {
                transform: rotate(45deg);
                top: calc(50% - 1px);
                width: 28px;
            }
            &::before {
                transform: rotate(-45deg);
                top: calc(50% - 1px);
            }
        }
    }
    .header {
        &__menu > li > a, &__menu > li > div:not(.megamenu) {
            height: auto;
        }
        &__menu {
            flex-direction: column;
            justify-content: initial;
            align-items: initial;
            li {
                border-bottom: 1px solid #bebebe;
                position: relative;
                width: 100%;
                display: inline-block;
                height: auto;
                a, & > div {
                    font-size: 20px;
                    line-height: 24px;
                    color: #1b1b1d;
                    padding: 10px 30px;
                    cursor: pointer;
                    display: block;
                }
            }
        }
    }
    .hamburger {
        display: block;
        position: relative;
        z-index: 2;
        width: 28px;
        height: 18px;
        & > div {
            position: absolute;
            top: calc(50% - 1px);
            left: 0;
            width: 28px;
            height: 2px;
            background: #373739;
            transition: all 0.3s ease;
            opacity: 1;
        }
        &::after {
            content: "";
            position: absolute;
            top: calc(100% - 1px);
            left: 0;
            width: 18px;
            height: 2px;
            background: #373739;
            transition: all 0.3s ease;
            z-index: 3;
        }
        &::before {
            z-index: 3;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 28px;
            height: 2px;
            background: #373739;
            transition: all 0.3s ease;
        }
    }

    .move_part {
        display: none;
        position: absolute;
        left: 0;
        visibility: hidden;
        top: 80px;
        transition: all 0.3s ease;
        z-index: 2;
        background: #fff;
        width: 100vw;
        max-width: 100%;
        flex-direction: column;
        height: 100vh;
        justify-content: initial;
        align-items: initial;
        opacity: 0;
    }
    
    
}

@media screen and (max-width: 800px) {
    header .has_child .megamenu {
        ul li {
            width: 100%;
        }
    }
}
@media screen and (max-width: 600px) {
    .hamburger {
        width: 28px;
    }
}
@media screen and (max-width: 515px) {
    header .has_child .megamenu ul {
        flex-direction: column;
    }
}
@media screen and (max-width: 500px) {
    header {
        .header__logo {
            width: 125px;
        }
        .container {
            padding: 0;
        }
    }
    .header__wrapper {
        padding-left: 20px;
        height: 50px;
    }
    .move_part {
        top: 50px;
    }
}
