<section class="grid_stats">
    <div class="container">
        <h2 gh-id="${ghId}.title"> TITLE </h2>
        <p class="subtitle" gh-id="${ghId}.subtitle">
            SUBTITLE
        </p>
        <div class="grid_stats_wrapper">
            ${
                items.reduce((acc, item, index) => {
                return acc + `
                    <div class="grid_stats_item">
                        <div class="item_top">
                            <div class="num" gh-id="${ghId}.items.${index}.number">70</div>
                            <div class="symbol" gh-id="${ghId}.items.${index}.symbol">%</div>
                        </div>
                        <div class="item_bottom">
                            <p gh-id="${ghId}.items.${index}.text"></p>
                        </div>
                    </div>
                `
                }, '')
            }
        </div>
    </div>
</section>