<section class="non_standart_grid">
    <div class="container">
        <div class="grid_wrapper">
            <div class="item_main">
                <h2 gh-id="${ghId}.title"> TITLE </h2>
                ${ json.subtitle ? `
                    <p class="subtitle" gh-id="${ghId}.subtitle">
                        SUBTITLE
                    </p>
                ` : ''}
            </div>
            ${
            items.reduce((acc, item, index) => {
                return acc + `
                    <div class="item_wrapper ${index == 0 ? 'flex-end' : ''}">
                        <div class="item">
                            <div class="tick">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="16" viewBox="0 0 22 16" fill="none"><path d="M1 7.75633L7.84292 14.5785L21 1.42151" stroke="#00BFD6" stroke-width="2"/></svg>
                            </div>
                            <div class="content">
                                <p gh-id="${ghId}.items.${index}.text"> CONTENT </p>
                            </div>
                        </div>
                    </div>
                    `
                }, '')
            }
            <div class="item_colored">
                <div class="content">
                    <p gh-id="${ghId}.colored_item_text"> CONTENT </p>
                </div>
            </div>
        </div>
    </div>
</section>