<section class="tabs">
    <div class="container">
        <h2 gh-id="${ghId}.title"> TITLE </h2>
        <p class="subtitle" gh-id="${ghId}.subtitle"> SUBTITLE </p>
        <div class="tab_items">
            ${
                
                tabs.reduce((acc, item, index) => {
                    return acc + `
                    <div class="tab_item" onclick="openTab()">
                        <div class="tab_header ${index === 0 ? 'active' : ''}">
                            <div class="tab_item_left">
                                <h3 gh-id="${ghId}.tabs.${index}.title">Security and Reliability</h3>
                            </div>
                            <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="22" height="17" viewBox="0 0 22 17" fill="none"><path d="M12.5 1L20 8.5M20 8.5L12.5 16M20 8.5L0 8.5" stroke="#00BFD6" stroke-width="2"/></svg>
                            <svg class="arrow_mobile" xmlns="http://www.w3.org/2000/svg" width="14" height="9" viewBox="0 0 14 9" fill="none"><path d="M1.22266 8L7.11072 2L12.9988 8" stroke="#00BFD6" stroke-width="2"/></svg>
                        </div>
                        <div class="tab_content">
                            <p gh-id="${ghId}.tabs.${index}.text"></p>
                           
                        </div>
                    </div>
                    `
                }, '')
            }
        </div>
    </div>
</section>