<!DOCTYPE html>
<html lang="en">

<head>
        
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="assets/css/style.css">
    <style data-webpack-style="true">
        recent-posts .posts_slider {
            padding-bottom: 0;
        }
    </style>
</head>

<body>
    <canonical-component></canonical-component>
    <meta-index></meta-index>
    <organization-schema></organization-schema>
    <service-schema></service-schema>
    <title-tag></title-tag>
    <meta-tag og type="title"></meta-tag>
    <meta-tag twitter type="title" data-twitter-name="@Template"></meta-tag>
    <meta-tag type="description"></meta-tag>
    <meta-tag og type="description"></meta-tag>
    <meta-tag twitter type="description"></meta-tag>
    <meta-tag og type="meta_image_src"></meta-tag>
    <meta-tag twitter type="meta_image_src"></meta-tag>

    <header-component></header-component>
    
    <service-banner data-gh-id="service_banner"></service-banner>
    
    <counter-component data-gh-id="counter" data-type="bottomText"></counter-component>

    <grid-component data-gh-id="grid_with_number" data-type="number" be-slider></grid-component>

    <fullscreen-image-and-text data-gh-id="fullscreen_image_and_text" class="light_theme"></fullscreen-image-and-text>
    
    <fullscreen-image-and-text data-gh-id="fullscreen_image_and_text" class="reverse"></fullscreen-image-and-text>

    <reviews-slider data-gh-id="reviews"></reviews-slider>

    

    <recent-posts></recent-posts>
   

    <faq-component data-gh-id="faq" data-background="#DBE2E7"></faq-component>
    <get-in-touch-block id="get_in_touch_block" data-gh-id="get_in_touch_block"></get-in-touch-block>
    <footer-component></footer-component>

    <cookies-popup></cookies-popup>

    <script src="/assets/js/main.js"></script>

</body>

</html>