<section class="get_in_touch_block">
    <div class="container">
        <div class="fet_in_touch_top">
            <h2> Need help? Get in touch </h2>
            <p class="subtitle">Fill in the form with your contact info, questions, or ideas and we'll get back to you right away.</p>
        </div>
        <div class="get_in_touch_bottom">
            <form-component data-form-name="Need help? Get in touch" data-type="success-only"></form-component>
            <div class="contact_info">
                <div class="tel">
                    <a href="tel:16097316629"> +1 (609) 731-6629 </a>
                    <span>Give s a call to start our productive communication and work on your project.</span>
                </div>
                <div class="mail">
                    <a href="mailto:dkrumholz@strandmanagement.com">dkrumholz@strandmanagement.com</a>
                    <span>We're happy to communicate with you via email. Don't hesitate to write us.</span>
                </div>
            </div>
        </div>
    </div>
</section>