<section class="get_in_touch_block">
    <div class="container">
        <div class="fet_in_touch_top">
            <h2>Lorem ipsum dolor sit amet consectetur?</h2>
            <p class="subtitle">Lorem ipsum dolor sit amet consectetur. Orci tempor bibendum sem.</p>
        </div>
        <div class="get_in_touch_bottom">
            <form-component data-form-name="Need help? Get in touch" data-type="success-only"></form-component>
            <div class="contact_info">
                <div class="tel">
                    <a href="tel:${hrefPhone}"> ${info.phone} </a>
                    <span>Lorem ipsum dolor sit amet consectetur. Orci tempor bibendum sem.</span>
                </div>
                <div class="mail">
                    <a href="mailto:${info.email}">${info.email}</a>
                    <span>Lorem ipsum dolor sit amet consectetur. Orci tempor bibendum sem.Lorem ipsum dolor sit amet consectetur. Orci tempor bibendum sem.</span>
                </div>
            </div>
        </div>
    </div>
</section>