<section class="service_banner">
    <div class="container">
        <div class="service_banner_left">
            <breadcrumbs-component data-items='${breadcrumbs}'></breadcrumbs-component>
            <h1 gh-id="${ghId}.title"> H1 </h1>
            <p class="main_subtitle" gh-id="${ghId}.subtitle">
                SUBTITLE
            </p>
            <a class="button dark" href="${buttonLink}#get_in_touch_block" gh-id="${ghId}.button.text"> BUTTON LINK </a>
        </div>
    </div>
    <div class="service_banner_right">
        <image-component src="${image.src}" alt="${image.alt}" title="${image.title}" width="915" height="597"></image-component>
    </div>
</section>