<section class="text_with_shadow">
    <div class="container">
        <div class="text_with_shadow_wrapper">
            <div class="text_with_shadow_border">
                <h2 gh-id="${ghId}.title"> TITLE </h2>
                <div class="content">
                    ${
                        paragraphs.reduce((acc, item, index) => {
                            return acc + `
                                <p gh-id="${ghId}.paragraphs.${index}.text"> PARAGRAPH </p>
                            `
                        }, '')
                    }
                </div>
            </div>
        </div>
    </div>
</section>