text-with-shadow {
    .text_with_shadow {
        padding-top: 0;
        &_wrapper {
            background: #FFFFFF;
            box-shadow: 3px 3px 15px rgba(174, 174, 192, 0.3);
            padding: 30px;
        }
        &_border {
            padding-left: 30px;
            border-left: 2px solid #00BFD6;
        }
        h2 {
            color: #00BFD6;
            margin-bottom: 15px;
        }
        .content {
            p {
                font-size: 16px;
                line-height: 25px;
                color: #4D555B;
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    text-with-shadow {
        .text_with_shadow {
            &_wrapper {
                padding: 15px;
            }
            &_border {
                padding-left: 15px;
            }
            .content p {
                font-size: 14px;
                line-height: 18px;
                margin-bottom: 10px;
            }
        }
    }
}