contents-component {
    .contents {
        border: 1px solid #DBE2E7;
        padding: 30px;
    }
    .contents_title {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-transform: uppercase;
        color: #878787;
        margin-bottom: 22px;
    }
    ul {
        list-style: none;
    }
    .active-anchor a {
        color: #00BFD6 !important;
    }
    li {
        margin-top: 8px;
        a {
            font-size: 16px;
            line-height: 25px;
            color: #4D555B;
            transition: all .2s ease;
        }
        &:hover {
            a {
                color: #141616;
            }
        }
        &.child {
            padding-left: 20px;
            margin-top: 2px;
            a {
                font-size: 14px;
                line-height: 25px;
                color: #4D555B;
                transition: all .2s ease;
            }
            &:hover {
                a {
                    color: #141616;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    article-component {
        aside .aside_wrapper {
            position: static;
        }
        contents-component {
            position: fixed;
            background: #fff;
            z-index: 2;
            width: 100%;
            top: 96px;
            left: 0;
            transition: all .5s ease;
            .contents {
                padding: 0;
            }
            .h_list {
                height: 100%;
                max-height: 0;
                overflow: hidden;
                transition: all .5s ease;
            }
            .contents_title {
                margin-bottom: 0;
                padding: 10px;
                padding-left: 40px;
                cursor: pointer;
                position: relative;
                text-transform: capitalize;
                &::before {
                    content: "";
                    position: absolute;
                    top: 20px;
                    right: 40px;
                    width: 16px;
                    height: 16px;
                    transition: all .5s ease;
                    background-repeat: no-repeat;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='9' viewBox='0 0 14 9' fill='none'%3E%3Cpath d='M13 1.5L7 7.5L1 1.5' stroke='%2300BFD6' stroke-width='2'/%3E%3C/svg%3E");
                    background-size: contain;
                }
            }
            li a {
                padding-left: 40px;
            }
            .contents.active {
                .contents_title {
                    padding-bottom: 5px;
                    &::before {
                        top: 14px;
                        transform: rotate(180deg);
                    }
                }
                .h_list {
                    max-height: 1000px;
                    padding: 0;
                    padding-top: 0;
                }
                li {
                    &:hover a {
                        background-color: #efefef;
                    }
                    &.child {
                        a {
                            padding-top: 2px;
                            padding-bottom: 2px;
                        }
                    }
                    a {
                        padding-top: 4px;
                        padding-bottom: 4px;
                        display: block;
                    }
                }
            }
            li {
                margin-top: 0;
                a {
                    transition: padding-left .5s ease, background-color .2s ease;
                }
                &.child {
                    margin-top: 0;
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    article-component {
        contents-component {
            .contents_title {
                padding-left: 15px;
                &::before {
                    right: 15px;
                }
            }
            li a {
                padding-left: 15px;
            }
        }
    }
}
@media screen and (max-width: 450px) {
    contents-component .contents {
        padding: 15px;
    }
}